<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style>
    .studyInfo{column-count: 2;}
    .projectInfo{padding-top: 50px;}
    .form-group{margin-bottom: 10px;}
</style>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="py-3 text-center">
        </div>
        <div class="col-6">
            <h3>프로젝트 기본 정보를 입력해주세요.</h3>
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <form class="needs-validation" th:action="@{/study-group/update/{id}(id=${studyGroup.studyGroupId})}" th:object="${studyGroupRequest}" method="post" novalidate>
                <div class="studyInfo">
                <div class="form-group">
                    <label for="studyType">모집 구분</label>
                    <select class="form-select" id="studyType" name="studyType">
                        <option th:each="studyType : ${T(com.project.community.domain.study.enums.StudyType).values()}" th:value="${studyType.name()}"
                                th:text="${studyType.label()}" th:selected="${studyGroup.studyType.name()}==${studyType.name()}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="meetingType">진행 방식</label>
                    <select class="form-select" id = "meetingType" name="meetingType">
                        <option th:each="meetingType : ${T(com.project.community.domain.study.enums.MeetingType).values()}" th:value="${meetingType.name()}"
                                th:text="${meetingType.label()}" th:selected="${studyGroup.meetingType.name()}==${meetingType.name()}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">지역</label>
                    <select id="location" class="form-select" name ="location">
                        <option th:each ="location : ${locationList}" th:value="${location.id}"
                                th:text="${location.localNameOfCity}" th:selected="${studyGroup.location.localNameOfCity}==${location.localNameOfCity}">
                        </option>
                    </select>
                </div>
                    <div class="form-group" style="padding-bottom: 30px;">
                        <label for="contactType">연락 방법</label>
                        <select class="form-select" id="contactType" name="contactType">
                            <option th:each="contactType : ${T(com.project.community.domain.study.enums.ContactType).values()}" th:value="${contactType.name()}"
                                    th:text="${contactType.label()}" th:selected="${studyGroup.contactType.name()} ==${contactType.name()}">
                            </option>
                        </select>
                    </div>
                <div class="form-group">
                    <label for="numberOfMembers">모집 인원</label>
                    <select id="numberOfMembers" name="numberOfMembers" class="form-select">
                        <option th:value="|인원 미정|" th:text="|인원 미정|"></option>
                        <option th:each="num: ${#numbers.sequence(1,9)}" th:value="${num}" th:text="${num}+명" th:selected="${studyGroup.numberOfMembers} ==${num}"></option>
                        <option th:value="|10명 이상|" th:text="|10명 이상|"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="duration">진행 기간</label>
                    <select id="duration" name="duration" class="form-select">
                        <option th:value="|기간 미정|" th:text="|기간 미정|"></option>
                        <option th:each="duration: ${#numbers.sequence(1,6)}" th:value="${duration}" th:text="${duration}+개월" th:selected="${studyGroup.duration} == ${duration}"></option>
                        <option th:value="장기" th:text="장기"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="studyStartDate">시작 예정일</label>
                    <input th:value="${studyGroup.studyStartDate}" id="studyStartDate" name="studyStartDate" type="datetime-local" class="form-control" required>
                </div>
                    <div class="form-group">
                        <label for="skills">사용 기술</label>
                        <div id="skillList" th:text="${skillList}" hidden></div>
                        <input id="skills" type="text" name="skills" th:value="${#strings.listJoin(skills, ',')}" class="tagify-outside" aria-describedby="tagHelp" required>
                    </div>
                </div>
                <div class="projectInfo">
                    <h3>프로젝트에 대해 소개해주세요.</h3>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input th:value="${studyGroup.title}" id="title" name="title" type="text" class="form-control"
                           placeholder="제목" required>
                    <small class="invalid-feedback">스터디 이름을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea th:value="${studyGroup.content}" th:text="${studyGroup.content}" id="content" name="content" th:name="content" class="form-control"></textarea>
                </div>

                <div class="row mt-3" style="float:right;">
                <div class="form-group">
                    <button class="btn btn-primary btn-bloock" type="submit" aria-describedby="submitHelp">수정 완료</button>
                </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascript" th:inline="javascript">
</script>
<script type="application/javascript">
    $(function(){
        $('#content').summernote({
            tabsize: 2,
            height: 300
        });
        var tagInput = document.querySelector("#skills");

        var tagify= new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            skillList: JSON.parse(document.querySelector("#skillList").textContent),
            dropdown: {
                enabled:1,
            }
        });
        tagify.DOM.input.classList.add('form-control');
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>