<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
  <style>
    a{
      text-decoration: none;
    }
  </style>
</head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="py-5 text-center">
    </div>
    <div class="col-sm-10">
      <div class="col-auto" style="margin-top:20px">
        <a href="#" th:href="@{/notifications}" th:classappend="${isNew}? active" class="btn btn-block">
          읽지 않은 알림
          <span th:text="${numberOfNotChecked}">3</span>
        </a>
        <a href="#" th:href="@{/notifications/old}" th:classappend="${!isNew}? active" class="btn btn-block">
          읽은 알림
          <span th:text="${numberOfChecked}">0</span>
        </a>
      </div>
      <div class="notification" style="margin-top:30px">
      <div class="col-9">
        <div class="card" th:if="${notificationList.size() ==0}">
          <div class="card-header">
            알림 메시지가 없습니다.
          </div>
        </div>
        <div class="card" th:if="${newStudyNotifications.size() >0}">
          <div class="card-header">
            <span sec:authentication="name"></span> 님의
            지역, 스킬과 동일한 모임이 등록되었습니다.
          </div>
          <div class="card-body">
          <div th:each="newStudyNotification: ${newStudyNotifications}">
            <span th:text="${newStudyNotification.getMessage()}"> </span>
          </div>
          </div>
        </div>

        <div class="card" th:if="${updateStudyNotifications.size() >0}" style="margin-top: 20px">
          <div class="card-header">
            <span sec:authentication="name"></span> 님이
            참여중인 모임 정보가 업데이트 되었습니다.
          </div>
          <div class="card-body">
            <div th:each="updateStudyNotification: ${updateStudyNotifications}">
              <span th:text="${updateStudyNotification.getMessage()}"> </span>
            </div>
          </div>
        </div>

        <div class="card" th:if="${enrollmentNotifications.size() >0}" style="margin-top: 20px">
          <div class="card-header">
            <span sec:authentication="name"></span> 님이
            개설한 스터디에 참가 신청이 등록되었습니다.
          </div>
          <div class="card-body">
            <div th:each="enrollmentNotification: ${enrollmentNotifications}">
              <span th:text="${enrollmentNotification.getMessage()}"> </span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments.html :: footer"></div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript">
  (function () {

  }())
</script>
</body>
</html>